body {
    background-color: rgb(243, 243, 129);
    
}
p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}
h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}
img {
    border: 2px black solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    max-width: 500px;
    margin: auto;
    border: 2px white solid;
}